%fieldset
  %legend Notifications

%table.table
  %tr
    %th Message
    %th Category
    %th Device
    %th Created
  - @notifications.each do |notification|
    %tr
      %td= notification.message
      %td= notification.category
      %td= notification.device.name if notification.device
      %td= notification.created_at.localtime if notification.created_at
